<div class="container">
    <br /><br /><br /><br />
    <h3 class="pb-4 mb-4 font-italic border-bottom">About</h3>
</div>

<div class="col-md-11">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static bg-light">
           <p>WELCOME TO ENGLISH TEACHERS BLOG!! 
           <br />
           <br />Here you can see different responses about teachers of english all over the world! 
           <br />If you know the teacher, you can write your comment! 
           <br />If you look for a teacher - here the website is!
           <br />
           <br />Don't forget to register, because registered users can:
           <br />- See articles
           <br />- Add articles
           <br />- Edit articles
           <br />- Delete articles
           <br />- Add comments
           <br />
           <br />Unregistered users can:
           <br />- See articles
           <br />- Add comments
           <br />
           <br />To add a comment, press More->Add a comment. 
           <br />To edit or delete articles, press More->Edit/Delete. Buttons will be shown only if you are registered. 
           <br />To add an article, press Add article on the header. Button will be shown only if you are registered.</p>
        </div>
    </div>
</div>
