<h2>Available teachers</h2>

<% @teacher.each do |teacher| %>
    <div class="alert alert-light">
        <h3><%= teacher.name %></h3>
        <p><%= teacher.description %></p>
        <%= link_to "More", teacher_path(teacher), :class => "btn btn-default" %>
    </div>
<% end %>